<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to t("views.layouts.application.profile"), edit_user_registration_path %>
      <%= link_to t("views.layouts.application.user_list"), users_path %>
      <%= link_to t("views.layouts.application.sign_out"), destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
